<section class="cupons">
    @{
        for (int i = 5 - 1; i >= 0; i--)
        {
            <div class="coupon__wrap">
                <div class="coupon__title">
                    <div class="couple__category">Cinema</div>
                </div>
                <div class="coupon__detail">
                    <div class="coupon__price">10% Desconto</div>
                    <div class="coupon__info">
                        <span>A partir de R$ 120</span>
                        <span>Outubro 25 - 26, 2024</span>
                    </div>
                    <div class="coupon__footer">
                        <div class="coupon__btn">
                            <a href="">Recuperar</a>
                        </div>
                    </div>
                    <div class="coupon__border"></div>
                </div>
            </div>
        }
    }
</section>